################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebCalenderAPI/FileContentIndex/31ea51b5-fb69-46a5-9750-8165d960c064.vsidx
/.vs/WebCalenderAPI/FileContentIndex
